<!DOCTYPE html>
<html>
  <head>
    <title>Camera</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Camera</h1>
    <p>The camera is running !</p>

    <script src="/public/javascripts/socket.io.js"></script>
    <script src="/public/javascripts/camera.js"></script>


  </body>
</html>
